html, body{
	margin: 0;
	padding: 0;
}
body{
	font-family: Georgia,"Times New Roman",serif;
	font-size: 1.2em;
	color: #333;
	 -webkit-text-size-adjust:none;
}
#wrapper{
	/*min-width: 320px;*/
	max-width: 900px;
	margin: 0 auto;
	padding: 0 10px;
	background: white;
}
header{
  text-align: right;
}
h1{
	font-family: Helvetica, Verdana, Arial, Sans-Serif;
	font-size: 3em;
	margin: .5em 0 0 0;
	font-variant: small-caps;
}
h1 a{
	color: inherit;
	text-decoration: none;
}
h2{
	font-family: Helvetica, Verdana, Arial, Sans-Serif;
	font-size: 1.5em;
	margin: 2em 0 0 0;
	font-variant: small-caps;
}

nav{
	border-top: 5px solid #333;
	font-family: Helvetica, Verdana, Arial, Sans-Serif;
}
nav a{
	width: 50%;
	display: inline-block;
	vertical-align: bottom;
	border-bottom: 0px solid #333;
	float: left;
	position: relative;
	z-index: 2;
	text-decoration: none;
	color: #333;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
}
nav a span{
	margin: 0 10px 0 0;
	padding: 1em 5px 5px 5px;
	display: block;
}
nav a:last-child span{
	margin: 0;
}
nav a span,
nav.projects:hover a:nth-child(1) span,
nav.lab:hover a:nth-child(2) span,
nav.articles:hover a:nth-child(3) span,
nav.talks:hover a:nth-child(4) span{
	color: #333;
	background: #EEE;
}
nav a:hover span,
nav.wip a:nth-child(1) span,
nav.wip a:nth-child(1):hover span,
nav.talks a:nth-child(2) span,
nav.talks a:nth-child(2):hover span{
	background: #333;
	color: white;
}
section{
	margin: 0;/* 0.5em;*/
}
p{
	line-height: 1.6em;
	margin: 1.2em 0;
}

section.articleBlock a{
	text-decoration: none;
	background: #eee;
	color: #333;
}
section.articleBlock a:hover{
	text-decoration: none;
	background: #333;
	color: white;
}
section.articleBlock a img,
section.articleBlock object,
section.articleBlock iframe{
	vertical-align: middle;
	border: 5px solid #333;
	display: block;
	margin: 0 auto;
}
section.articleBlock .date,
section.linkBlock .date{
	text-align: right;
	font-size: 0.9em;
	font-style: italic;
	display: block;
}
section.articleBlock pre{
  display: block;
  padding: 0.5em;
  color: #333;
  background: #EEE;
	border-left: 5px solid #333;
	overflow: auto;
}


section.linkBlock{
	vertical-align: top;
	margin: 10px 0 0 0;
}

section.linkBlock.draft{
    background-color: #eee;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

section.linkBlock>a{
	width: 25%;
	float: left;
	display: block;
	vertical-align: top;
	overflow: hidden;
}
section.linkBlock>a>img{
	margin: 0 10px 0 0;
	width: 160px;
	height: 160px;
	border-width: 0;
	opacity: 0.8;
}
section.linkBlock>a:hover>img{
	opacity: 1;
}
section.linkBlock>div{
	width: 75%;
	float: left;
	display: block;
	vertical-align: top;
}
section.linkBlock h2{
	margin: 0;
}
section.linkBlock a{
	border-width: 0;
	text-decoration: none;
	color: #333;
}
section.linkBlock p{
	margin: 0;
}

footer{
	margin: 3em 0 5em 0;
	font-family: Helvetica, Verdana, Arial, Sans-Serif;
}

footer>div{
	position:relative;
	text-align: center;
	line-height: 3em;
	height: 1.5em;
	border-bottom: 3px solid #CCC;
}
#contactMe{
	margin-top: -3px;
	display: inline-block;
	padding-right: 0.9em;
	background: white;
	line-height: 3em;
	border: 3px solid #CCC;
}
#contactMe a{
	display: inline-block;
	margin-left: 0.9em;
	color: #333;
	text-decoration: none;
}
#contactMe a:hover{
	text-decoration: underline;
}


.floatRight{
	float:right;
	margin: 10px 0 10px 10px;
}

.pull-right{
	float:right;
}

.clearfix:after{
	display: block;
	width: 0px;
	height: 0px;
	visibility: hidden;
	content: ".";
	clear: both;
}


.talks-box{
	position: relative;
	min-height: 160px;
}
.link-button-box{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.link-button{
	font-family: Helvetica, Verdana, Arial, Sans-Serif;
	display: inline-block;
	text-align: center;
	color: #333;
	background: #EEE;
	padding: 5px 0;
	width: 50%;
	float: left;
}

.link-button:hover{
	color: white;
	background: #333;
}



label{
	font-family: Helvetica, Verdana, Arial, Sans-Serif;
	display: block;
	text-align: right;
}

label input[type=text]{
	width: 75%;
	float: right;
	margin-left: 5%;
}