---
title: Home
layout: post.html
---

<h1>Archive</h1>

<aside>
	<nav>
		{% set postslist = collections.posts %}
		<ul role="menu">
		{%- for post in postslist | reverse %}
			<li data-current="{% if post.url == url %}post{% endif %}">
				<h3><a href="{{ post.data.url or post.url }}" >{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h3>
				<p>{{post.data.short}}</p>
				<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
				<hr>
			</li>
		{%- endfor %}
		</ul>
	</nav>
</aside>