.earth {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));

  picture {
    width: 100%;

    img {
      width: 100%; 
      height: 100%;
    }
  }
}

.space {
  perspective: 1000px;
  display: grid;
  place-content: center;
  height: 400px;
  background: rgb(1, 5, 25);

  .earth {
    display: grid;
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    animation: rotate 20s linear forwards infinite;

    picture {
      grid-area: 1 /1;
      transform-style: preserve-3d;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
      }
    }

    [alt="top"]{
      transform: translateY(100px) rotateX(-90deg);
    }
    [alt="bottom"]{
      transform: translateY(-100px) rotateX(90deg);
    }
    [alt="left"]{
      transform: translateX(-100px) rotateY(-90deg);
    }
    [alt="right"]{
      transform: translateX(100px) rotateY(90deg);
    }
    [alt="front"]{
      transform: translateZ(100px) rotateX(0deg);
    }
    [alt="back"]{
      transform: translateZ(-100px) rotateY(180deg);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0turn) rotateX(0turn);
  }
  to {
    transform: rotateY(4turn) rotateX(1turn);
  }
}


.brightness-demo {
  display: grid;
  place-content: center;
  picture {
    img {
      max-width: 200px;
      max-height: 200px;
      animation: brightness-demo 5s infinite alternate;
    }
  }
}

@keyframes brightness-demo {
  from {
    filter: brightness(0);
  }
  to {
    filter: brightness(2);
  }
}

.static-light {
  [alt="top"]{
    filter: brightness(1);
  }
  [alt="bottom"]{
    filter: brightness(0.2);
  }
  [alt="left"]{
    filter: brightness(0.3);
  }
  [alt="right"]{
    filter: brightness(0.9);
  }
  [alt="front"]{
    filter: brightness(0.5);
  }
  [alt="back"]{
    filter: brightness(0.8);
  }
}



.phong-light {
  --ambient-light: 0.3;
  img {
    --brightness: calc(var(--ambient-light, 0) + var(--diffuse-light, 0) + var(--specular-light, 0));
    filter: brightness(var(--brightness, 0));
  }
}

