body {
  /* theme-ui adds these, so I need to override them... */
  --theme-ui-colors-background: white;
  --theme-ui-colors-text: #333;
}

.waves-wave {
  width: calc(100vw - 20px); /* subtract estimated scrollbar width */
  margin-top: 40px;
  margin-left: calc(50% - 50vw);
  margin-bottom: 40px;
  position: relative;
  display: flex;
  background: white;
}

.waves-scroller-container {
  flex: 1;
  padding-left: 10px;
  padding-top: 50vh;
  max-width: 900px;
  padding-bottom: 50vh;
}

.waves-scroller-step {
  position: relative;
  padding: 0 10px;
  min-height: 25vh;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
}

.waves-scroller-progress {
  position: absolute;
  left: -3px;
  background-color: currentColor;
}

.waves-sticker-container {
  width: 50%;
  margin-left: 0;
  position: static;
  top: auto;
  z-index: auto;
  height: auto;
}

.waves-sticker {
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0vh;
  border: 1px solid;
}

@media screen and (max-width: 1200px) {
  .waves-wave {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 40px;
    position: relative;
    display: block;
  }

  .waves-sticker-container {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 40vh;
  }

  .waves-sticker {
    position: static;
    width: 100%;
    height: 100%;
    top: auto;
  }

  .waves-scroller-container {
    flex: 1;
    padding-left: 0;
    padding-top: 50px;
  }

  .waves-scroller-step {
    position: relative;
    padding: 0;
    min-height: 250px;
    display: flex;
    align-items: center;
    border-left: none;
  }

  .waves-scroller-progress {
    left: -8px;
  }
}

.math-wave {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
  color: #d4d4d4;
  background: #1e1e1e;
  font-size: 2em;
}

.math-wave > div.math {
  grid-column: 1;
  grid-row: 1;
}
